* {
    margin: 0px;
    padding: 0px;
}

.fotogoogle {
    position: relative;
    min-width: 400px;
    margin-bottom: 30px;
    
}

.fotogoogle img {
    display: block;
    margin: auto;
    width: 300px;
}